@import "./styles/variables";
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0c1017;
  font-family: $game-font;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
